body{
   padding-left: 10%;
    padding-right: 10%;
}
li{
    display: inline;
    width: 100%;
    padding:10%;
    
}

div{
    display: inline;
}

p{
    display:inline;
    padding-left:30px;
    font-size: 18px;
    text-align:center;
}
#list, #create{
    font-size: 30px;
    background-color:bisque;
}

a:link{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    background-color: antiquewhite;
}

a:active{
    text-decoration: underline;
}

.emailfrom{
     font-size:18px;
}

.emailfrom:hover{
    text-decoration: underline;
    background-color:coral;
}

#container{
    width: 100%;
}

#textbox{
    height: 200px;
    width: 100%;
}

#in1{
    width: 5%;
    clear: both;
    padding-right: 50%;
    
}

#container p{
    padding-left: 10px;
}




